.main-header {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eba800;
    background-image: url("/images/asfalt-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}