nav {
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF;
    padding: 1.5em;
    position: sticky;
    top: 0;
    width: 100%
}

.nav-div {
    position: sticky;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

nav span {
    font-family: 'Bungee';
}

.arrow {
    color: red;
    display: flex;
    justify-content: center;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
}

.arrow:hover{
    color:yellow;
    cursor: pointer;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}