.new-tweet {
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}

#tweet-text {
    background-color: #f4f1ec;
    border-bottom: 2px solid #545149;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    resize: none;
    outline: none;
}

.new-tweet .counter {
    float: right;
}

button {
    background-color: #4056A1;
    font-family: 'Bungee';
    color: white;
}

#form-tweet-submit textarea {
    width: 100%;
    margin: 10px auto 10px auto;
    background-color: inherit;
    border: none;
    height: 2em;
    border-bottom: 4px solid #545149;
    font-weight: 700;
    resize: none;
}

.red-counter {
    color: red;
}

.counter {
    font-family: 'Bungee';
}

#error-message {
    width: 100%;
    background-color: inherit;
    border: 4px solid red;
    resize: none;
    outline: none;
    color: red;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px auto;
}